<nz-layout class="main-layout">
  <nz-sider nzCollapsible [(nzCollapsed)]="collapsed" nzTheme="dark">
    <div class="logo">
      <span nz-icon nzType="compass" nzTheme="outline"></span>
      @if (!collapsed) { <span class="logo-text">Ostia</span> }
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/kanban" routerLinkActive="ant-menu-item-selected">
        <span nz-icon nzType="project" nzTheme="outline"></span>
        <span>Candidatures</span>
      </li>
      <li nz-menu-item routerLink="/jobs" routerLinkActive="ant-menu-item-selected">
        <span nz-icon nzType="search" nzTheme="outline"></span>
        <span>Offres</span>
      </li>
      <li nz-menu-item routerLink="/dashboard" routerLinkActive="ant-menu-item-selected">
        <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item routerLink="/cv" routerLinkActive="ant-menu-item-selected">
        <span nz-icon nzType="file-text" nzTheme="outline"></span>
        <span>Mon CV</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="main-header">
      <span class="user-menu" nz-dropdown [nzDropdownMenu]="userMenu">
        <nz-avatar nzIcon="user" style="background: #1890ff"></nz-avatar>
        <span class="user-name">{{ auth.currentUser()?.firstName }}</span>
      </span>
      <nz-dropdown-menu #userMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="auth.logout()">
            <span nz-icon nzType="logout"></span> Déconnexion
          </li>
        </ul>
      </nz-dropdown-menu>
    </nz-header>
    <nz-content class="main-content">
      <router-outlet />
    </nz-content>
  </nz-layout>
</nz-layout>
